<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ruoshy.jobmanagement.mapper.ScheduleMapper">

    <select id="findById" resultType="cn.ruoshy.jobmanagement.entity.Schedule">
        select * from schedule where id=#{id}
    </select>

    <select id="findByName" resultType="cn.ruoshy.jobmanagement.entity.Schedule">
        select * from schedule where name like concat('%',#{name},'%')
    </select>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id"
            parameterType="cn.ruoshy.jobmanagement.entity.Schedule">
        insert into `schedule`(user_id,company_id,date,state)
        values(#{userId},#{companyId},#{date},#{state})
    </insert>

    <update id="update">
        update schedule
        <set>
            <if test="date!=null">data=#{date},</if>
            <if test="state!=false">state=1,</if>
        </set>
        where id=#{id}
    </update>
</mapper>